<html>

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
	
<body>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		<h3>Please address the following errors:</h3>
		<ul>
			{% for message in messages %}
				<li><strong>{{message}}</strong></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endwith %}

<h1> Edit Item Details</h1>

<form action="{{ url_for('editItemInfo',weapon_class_id = weapon_class_id, weapon_id=item.id)}}" method = 'post'>

<dl>
	<h2>
	<dt>Name:</dt>
		<dd><input type ='text' size='30' name='name' placeholder = '{{item.name }}'></dd>
	<dt>Description:</dt>
		<dd><textarea name = 'description' rows='5' cols='40' placeholder = '{{item.description }}'></textarea></dd>
	<dt>Damage:</dt>
		<dd><input type = 'text' size = '8' name='damage' placeholder = '{{item.damage}}'></dd>
	<dt>DPS:</dt>
		<dd><input type = 'text' size = '8' name='dps' placeholder = '{{item.dps}}'></dd>
	<dt>Weapon Class:</dt>

	{% for cat in category %}
		{% if item.weapon.id == cat.id %}
			<dd><input type ='radio' name='weapon_class' value={{item.weapon.id}} checked >{{cat.name}}</dd>
		{% else %}
			<dd><input type ='radio' name='weapon_class' value={{item.weapon.id}} >{{cat.name}}</dd>
		{% endif %}
	{% endfor %}

	</h2>
</dl>


<input type='submit' style="font-family: fortnite; font-size: 16px; background-color: green; color: white; border-radius: 8px;" value='Edit'>

<a href = '{{url_for('weaponList', weapon_class_id = weapon_class_id)}}'>
	<button style="font-family: fortnite; font-size: 16px; background-color: orange; color: white; border-radius: 8px;">
	Cancel</button> 
</a>

</form>

</body>

</html>